.shortcut-wrap {
  list-style: none;
  padding: 20px 0;
}
.shortcut-menus {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.shortcut-wrap ul {
  height: 100px;
}
.shortcut-wrap a.shortcut {
  display: block;
  padding: 6px 0;
  width: 100%;
  font-size: 14px;
  color: #868e96;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 0.2s ease-out;
}
a {
  text-decoration: none;
}
.color-wrap {
  display: inline-block;
}
